@import "../../_variables.scss";

.suggestion {
	margin-left: 18px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.63px;
	color: $text;

	&_link {
		margin-left: 16px;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 0.63px;
		color: $primary;
		text-decoration: none;
	}
}
