@import "../../_variables.scss";

.homepage {
	.categoryhighlight {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0px;
		margin-top: 30px;
		margin-bottom: 60px;
		gap: 120px;
		width: 100%;
		height: auto;
		background: $bg;
	}
}
