@import "../../_variables.scss";

.btn {
	font-family: $Lato;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.63px;
	text-transform: capitalize;
	cursor: pointer;

	&_small {
		width: 115px;
		height: 50px;
	}

	&_medium {
		width: 150px;
		height: 50px;
	}

	&_large {
		width: 180px;
		height: 50px;
	}

	&_xlarge {
		width: 260px;
		height: 50px;
	}

	&_xxlarge {
		width: 550px;
		height: 60px;

		@media screen and (max-width: 750px) {
			width: 200px;
		}

		@media screen and (min-width: 750px) and (max-width: 1250px) {
			width: 400px;
		}
	}

	&_primary {
		background-color: $primary;
		color: $light;
		border: none;

		&_outline {
			background: transparent;
			color: $dark;
			border: 3px solid $primary;
		}
	}

	&_secondary {
		background-color: $secondary;
		color: $dark;
		border: none;

		&_outline {
			background: transparent;
			color: $dark;
			border: 3px solid $secondary;
		}
	}

	&_ternary {
		background-color: $bg;
		color: $dark;
		border: 1px solid $secondary;
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
	}

	&_disabled {
		background-color: $secondary;
		color: $dark;
		border: none;
		cursor: auto;
		opacity: 0.6;
	}

	&_content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;

		&_icon {
			padding-bottom: 4px;
		}
	}
}
