@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$Lato: "Lato", sans-serif;

//colors

$dark: #2b2d2a;
$darker: #000000;
$light: #ffffff;
$bg: #fcfcfc;
$primary: #74d867;
$secondary: #d4d8d1;
$border: #e3e3e3;
$text: #9b9b9b;
$correct: #417505;
$warning: #ab944e;
$warning_bg: #f6f2e5;
$correct_bg: #f0f3ee;
$info_bg: #f1effa;
$error: #e10000;
$medium: #f8a508;
